<?xml version='1.0' encoding='utf-8'?>
<widget id="org.example.instantgram" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Instantgram</name>
    <description>Simple Instagram clone built with Appwrite and Cordova</description>
    <author email="you@example.org" href="https://example.org">You</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
